// Global Colors
$base-font-color: #2c3e50;
$purple: #adbce6;
$green: #99e0cd;
$red: #c84a6c;
$light-blue: #e8f4f8;
$light-purple: #e8ecf8;
$light-green: #d4f2ea;
$light-grey: #f8f4e8;

// Breakpoints
$breakpoint-tablet: 768px;